*{
  margin: 0;
}
.body{
  background-image: linear-gradient(rgb(38, 158, 238),pink,white);
  height:100vh;
}
.nav{
  width:100%;
  border: 1px solid black;
  height:40px;
  background-color: blue;
}
.feilder{
  text-align: center;
  margin: 100px;
}

.add{
  text-align: center;
  height:30px;
  width:200px;
  position: absolute;
  top:108px;
  right:70px;
}
.addtext{
  background-color: white;
  height:30px;
  width:200px;
  border-radius: 20px;
  font-size: 18px;
}
.table{
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  position: absolute;
  left:50px;
  top:160px;
  width:90%;
  height:450px;
}
.tbw{
  width:1500px;
  border-collapse:collapse;
}
.tr{
  border-bottom: 1px solid black;
}


